<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="methods" thread-count="2" configfailurepolicy="continue">
    <test name="feature" annotations="JDK" preserve-order="true">
        <classes>
            <class name="Runner.TestRunner"/>
         <!--    <class name="Runner.RunCucumberTest"/> -->
        </classes>
    </test>
</suite>